{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        body{

           font-family: 'Poppins', sans-serif !important;
        }
  

        input{
            background-color: rgb(39, 39, 39) !important;
            border: none !important;
            border-radius: 24px !important;
        }

        label{
            margin-bottom: 9px;
            margin-left: 5px;
        }
        .message-container {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            z-index: 9999;
        }
        
        .message {
            background-color: #333;
            color: #fff;
            padding: 1rem;
            margin-bottom: 0.5rem;
            border-radius: 0.25rem;
            transition: opacity 0.5s ease-out;
        }
        
        .message.success {
            background-color: #4CAF50; /* Cor de sucesso */
        }
        
        .message.error {
            background-color: #F44336; /* Cor de erro */
        }

        @media (min-width: 1024px) {
            #submit-button {
                margin-left: 130px !important;
                width: 100% !important;
                
            }
        }
        
      </style>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Seleciona todas as mensagens
            const messages = document.querySelectorAll('.message');
            
            // Adiciona um timeout para remover cada mensagem após 3 segundos
            messages.forEach(message => {
                setTimeout(() => {
                    message.style.opacity = 0;
                    setTimeout(() => {
                        message.remove();
                    }, 500); // Tempo para a animação de desaparecimento
                }, 3000); // Tempo que a mensagem ficará visível
            });
        });
    </script>


</head>
<body class="flex min-h-full flex-col justify-center px-4 py-8 sm:px-6 lg:px-8 bg-[#111827]">
    <div>
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="flex flex-col items-center sm:mx-auto sm:w-full sm:max-w-4xl">
        <img class="h-40 w-auto" src="{% static 'images/logo/logo.png'%}" alt="Your Company">
        <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-white">
            Crie sua conta e registre seu restaurante
        </h2>
    </div>

    <div class="flex flex-col items-center justify-center mt-8 sm:mx-auto sm:w-full sm:max-w-4xl">
        <form id="registration-form" class="grid grid-cols-1 gap-6 md:grid-cols-2 w-full p-3" action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Informações do Usuário -->
            <div class="space-y-6">
                <h3 class="text-lg font-medium text-white">Informações do Usuário</h3>

                <div class="space-y-4">
                    <div>
                        <label for="username" class="block text-sm font-medium leading-6 text-white">Nome de Usuário</label>
                        <div class="mt-1">
                            <input id="username" name="username" type="text" autocomplete="username" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm focus:bg-red-500">
                        </div>
                    </div>

                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-white">Email</label>
                        <div class="mt-1">
                            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-medium leading-6 text-white">Senha</label>
                        <div class="mt-1">
                            <input id="password" name="password" type="password" autocomplete="new-password" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <label for="password_confirmation" class="block text-sm font-medium leading-6 text-white">Confirme a Senha</label>
                        <div class="mt-1">
                            <input id="password_confirmation" name="password_confirmation" type="password" autocomplete="new-password" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                            <p id="password-error" class="text-red-500 text-sm mt-1 hidden">As senhas não coincidem.</p>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Informações do Restaurante -->
            <div class="space-y-6">
                <h3 class="text-lg font-medium text-white">Informações do Restaurante</h3>

                <div class="space-y-4">
                    <div>
                        <label for="name" class="block text-sm font-medium leading-6 text-white">Nome do Restaurante</label>
                        <div class="mt-1">
                            <input id="name" name="name" type="text" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <label for="phone_number" class="block text-sm font-medium leading-6 text-white">Telefone</label>
                        <div class="mt-1">
                            <input id="phone_number" name="phone_number" type="text" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <label for="cep" class="block text-sm font-medium leading-6 text-white">CEP</label>
                        <div class="mt-1">
                            <input id="cep" name="cep" type="text" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <label for="cnpj" class="block text-sm font-medium leading-6 text-white">CNPJ</label>
                        <div class="mt-1">
                            <input id="cnpj" name="cnpj" type="text" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                        </div>
                    </div>

                    <div>
                        <label for="cpf" class="block text-sm font-medium leading-6 text-white">CPF Responsável</label>
                        <div class="mt-1">
                            <input id="cpf" name="cpf" type="text" required class="block w-full rounded-md py-2 px-3 bg-gray-800 text-white shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botão de Submissão -->
  
                <button type="submit" id="submit-button" class="w-full rounded-2xl bg-red-600 py-2 px-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                    Registrar
                </button>
        
                
        </form>
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Ao clicar no botão você concorda com todos os nosso termos de privacidade<a href="#" class="font-medium text-blue-600 hover:underline dark:text-red-600"> Políticas de Privacidade</a>.</p>
        <p class="mt-8 text-center text-sm text-gray-500">
            Já tem uma conta?
            <a href="{% url 'login' %}" class="font-semibold leading-6 text-red-600 hover:text-red-500">Faça login</a>
        </p>
    </div>


    <script>
        document.getElementById('registration-form').addEventListener('submit', function(event) {
            var password = document.getElementById('password').value;
            var passwordConfirmation = document.getElementById('password_confirmation').value;
            var passwordError = document.getElementById('password-error');

            if (password !== passwordConfirmation) {
                event.preventDefault(); // Impede o envio do formulário
                passwordError.classList.remove('hidden'); // Mostra a mensagem de erro
            } else {
                passwordError.classList.add('hidden'); // Oculta a mensagem de erro
            }
        });
    </script>
</body>
  
</html>