{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="dark">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    
                },
            },
        };
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body{
            font-family: 'Poppins', sans-serif !important;
        }

        input{
            background-color: transparent !important;
            border: solid 2px rgb(120, 120, 120) !important;
            border-radius: 15px !important;
            color: rgb(255, 255, 255) !important;
        }
    </style>
</head>

<body class="relative font-inter antialiased">

    <main class="relative min-h-screen flex flex-col justify-center bg-slate-50 overflow-hidden dark:bg-gray-900">
       <!-- Exibir mensagens -->
       <div id="messages-container">
        {% if messages %}
            <div class="p-4 m-0">
                {% for message in messages %}
                    <div class="{% if message.tags == 'success' %} bg-green-500 {% elif message.tags == 'error' %} bg-red-600 {% else %} bg-gray-700 {% endif %} text-white py-3 px-4 rounded-lg mb-4 text-sm">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
        <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-24">
            <div class="flex justify-center">
                <div class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow dark:bg-gray-800">
                    <div class="flex flex-col items-center sm:mx-auto sm:w-full sm:max-w-4xl">
                        <img class="h-40 w-auto" src="{% static 'images/logo/logo.png'%}" alt="Your Company">
                        <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-white">
                            Estamos quase lá...
                        </h2>
                    </div>
                    <header class="mb-8">
                        <h1 class="text-2xl font-bold mb-1 dark:text-white">Verifique seu e-mail</h1>
                        <p class="text-[15px] text-slate-500">Digite os 4-digitos do código de verificação enviado em seu e-mail.</p>
                    </header>
                    <form id="otp-form" method="POST" action="{% url 'verify_email' %}">
                        {% csrf_token %}
                        <div class="flex items-center justify-center gap-3">
                            <input
                                name="otp"
                                type="text"
                                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                                pattern="\d*" maxlength="1" />
                            <input
                                name="otp"
                                type="text"
                                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                                maxlength="1" />
                            <input
                                name="otp"
                                type="text"
                                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                                maxlength="1" />
                            <input
                                name="otp"
                                type="text"
                                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                                maxlength="1" />
                        </div>
                        <div class="max-w-[260px] mx-auto mt-4">
                            <button type="submit"
                                class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 dark:bg-red-600">
                                Verificar Conta</button>
                        </div>
                    </form>
                    <div class="text-sm text-slate-500 mt-4">Não recebeu o código? <a class="font-medium text-red-600 hover:text-red-600" href="#0">Reenviar</a></div>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const form = document.getElementById('otp-form')
                        const inputs = [...form.querySelectorAll('input[type=text]')]
                        const submit = form.querySelector('button[type=submit]')
    
                        const handleKeyDown = (e) => {
                            if (
                                !/^[0-9]{1}$/.test(e.key)
                                && e.key !== 'Backspace'
                                && e.key !== 'Delete'
                                && e.key !== 'Tab'
                                && !e.metaKey
                            ) {
                                e.preventDefault()
                            }
    
                            if (e.key === 'Delete' || e.key === 'Backspace') {
                                const index = inputs.indexOf(e.target);
                                if (index > 0) {
                                    inputs[index - 1].value = '';
                                    inputs[index - 1].focus();
                                }
                            }
                        }
    
                        const handleInput = (e) => {
                            const { target } = e
                            const index = inputs.indexOf(target)
                            if (target.value) {
                                if (index < inputs.length - 1) {
                                    inputs[index + 1].focus()
                                } else {
                                    submit.focus()
                                }
                            }
                        }
    
                        const handleFocus = (e) => {
                            e.target.select()
                        }
    
                        const handlePaste = (e) => {
                            e.preventDefault()
                            const text = e.clipboardData.getData('text')
                            if (!new RegExp(`^[0-9]{${inputs.length}}$`).test(text)) {
                                return
                            }
                            const digits = text.split('')
                            inputs.forEach((input, index) => input.value = digits[index])
                            submit.focus()
                        }
    
                        inputs.forEach((input) => {
                            input.addEventListener('input', handleInput)
                            input.addEventListener('keydown', handleKeyDown)
                            input.addEventListener('focus', handleFocus)
                            input.addEventListener('paste', handlePaste)
                        })
                    })
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const messagesContainer = document.getElementById('messages-container');
                        
                        if (messagesContainer) {
                            setTimeout(() => {
                                messagesContainer.style.transition = 'opacity 1s';
                                messagesContainer.style.opacity = '0';
            
                                setTimeout(() => {
                                    messagesContainer.style.display = 'none';
                                }, 1000); // Tempo para ocultar completamente após a transição
                            }, 3000); // 3 segundos
                        }
                    });
                </script>
    
            </div>
        </div>
    </main>
    


</body>

</html>